.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  margin: 50px 50px 50px 50px;
  background-color: #FAB131!important;
  color: #FFFFFF !important;
}

.list {
  background-color: #9b3434 !important;
}

.btncolor {
  background-color: #7CB6B7 !important;
  color: #FFFFFF !important;
}

table {
  width: 370px;
  height: 900px;
}

.Screen {
  background-image: url("https://cdn.shopify.com/s/files/1/1935/2049/files/Ponderlily-daily-planner-monthly_1000x1000.png?v=1640765066");
 }

 .homepage {
  background-image: url(https://wallpaperaccess.com/full/3009250.jpg);
  height: 1000px;
  background-position: center;
  
 }

 ul {
  list-style-type: none;
 }

 .separate{
  border: 8px solid #7d8ecd !important;
  text-align: center;
  margin-top:22px;
 }