.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list {
  background-color: #9b3434 !important;
}


.Screen {
  background-image: url("https://cdn.shopify.com/s/files/1/1935/2049/files/Ponderlily-daily-planner-monthly_1000x1000.png?v=1640765066");
  
 }

 .homepage {
  background-image: url(https://wallpaperaccess.com/full/3009250.jpg);
  height: 1000px;
  background-position: center;
  
 }

 ul {
  list-style-type: none;
 }

 .separate{
  border: 8px solid #4d7599 !important;
  font-family: 'Julius Sans One', sans-serif;
  /* font-family:'Monda', sans-serif; */
  /* font-style:italic; */
  /* text-shadow: -1px 0 #4b7396, 0 1px #4b7396, 1px 0 #4b7396, 0 -1px #4b7396; */
  color:  #dfbb93;
  text-align: center;
  margin-top:22px;
 }

 .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

blockquote{
  font-size: 42px;
  width:40%;
  margin:40px auto !important;
  font-family: 'Great Vibes', cursive;
  /* font-style:italic; */
  color:#dfbb93;
  padding:1.6em 30px 1.2em 75px;
  /* border-left:8px solid #78C0A8 ; */
  line-height:1.4;
  position: relative;
  background:#4d7599; opacity: 90%;
  /* color: coral; */
  text-shadow: -1px 0 black, 0 1px #b9a495, 1px 0 #b9a495, 0 -1px black;
  /* text-shadow: 1px 1px; */
  align-items: center;
  border-radius: 20%;
  box-shadow: 10px 16px rgb(56, 56, 56);
  /* box-shadow: 15px black; */
  /* border-style: inset; */
  /* border-top-color:black;
  border-bottom-color: black;
  border-right-color: black;
  border-left-color: black; */
  /* border-width: 8px; */
}

blockquote::before{
  font-family:Arial;
  /* content: "\201C"; */
  color:#b9a495;
  font-size:4em;
  position: absolute;
  left: 30px;
  top:-10px;
}

blockquote::after{
  font-family:Arial;
  /* content: "\201D"; */
  color:#b9a495;
  font-size:4em;
  position: absolute;
  right: 45px;
  bottom: -25px;
}

blockquote span{
  display:block;
  color:#b9a495;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.homepage {
  height: auto;
}