body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(89, 89, 185)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* blog form */
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #006680; opacity: 80%;
  background-image: url(https://img.freepik.com/free-photo/white-grey-marble-texture-background-natural-pattern-with-high-resolution-tiles-luxury-stone-floor-seamless-glitter-interior-exterior_38607-418.jpg?w=826);
  background-position: center;
}

.create label {
  text-align:center;
  display: block;
}

.create h2 {
  font-family:'Monda', sans-serif;
  font-size: 30px;
  color: #996633;
  margin-bottom:20px;
  margin-top: 20px;
}

.create input, .create textarea, .create select {
  width: 200px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 8px solid#7d8ecd;
  box-sizing: border-box;
  display: center;
}

.create button{
  background: #996633;
  color: rgba(255, 255, 255, 0.872);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*NavBar styling*/

nav {
  background-color: #b7b3ae;
  height: 96px;
}

#routes {
  font-size: x-large;
  font-family: 'Monda', sans-serif;
  background-image: url(https://wallpaperaccess.com/full/3009250.jpg);
  background-position: left;
}

.button-even {
  background-color: black; opacity: 50%;
  color: white;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-even:hover{
  color: #FAB131;
}

.button-odd {
  background-color: black; opacity: 50%;
  color: white;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-odd:hover{
  color: #7CB6B7;
}

::marker {
  text-decoration: none;
}

.spanday{
  color: #996633;
  margin-top:22px;
}
/*colors we like

#7CB6B7 -- seagreen blue

#996633 -- brown 50% opacity
*/