body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(89, 89, 185)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* blog form */
.create{
  max-width: 495px;
  margin: 0 auto;
  text-align: center;
  background-color: none;
  /* background-image: url("https://wallpaperaccess.com/full/3009250.jpg"); */
  
  background-position: center;
}

/*form width and height on Add a Task*/
table {
  width: 470px;
  height: 900px;
}

.create label {
  text-align:center;
  display: block;
}

.create h2 {
  /* font-family:'Monda', sans-serif; */
  font-size: 50px;
  font-family: 'Julius Sans One', sans-serif;
  /* font-style:italic; */
  color: #b9a495;
  margin-bottom:20px;
  margin-top: 20px;
  text-shadow: -1px 0 black, 0 1px #b9a495, 1px 0 #b9a495, 0 -1px black;

}

.create input, .create textarea, .create select {
  width: 225px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 8px solid#4d7599;
  box-sizing: border-box;
  display: center;
  background-color: transparent;
  color: #dfbb93;
  
}

.form {
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: -1px 0 black, 0 1px #b9a495, 1px 0 #b9a495, 0 -1px black;
  color:#dfbb93;
}

.select-text {
  text-align: center;
  display: flex;
}

.dropdown-text{
  text-align: center;
  display: flex;
  background-color: black;
  max-height: max-content;
}

.taskbtn{
  background: #4d7599;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: -1px 0 black, 0 1px #b9a495, 1px 0 #b9a495, 0 -1px black;
  color: rgba(255, 255, 255, 0.872);
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*NavBar styling*/

nav {
  background-color: #b7b3ae;
  height: 96px;
}

#routes {
  font-size: x-large;
  font-family: 'Monda', sans-serif;
  background-image: url("https://wallpaperaccess.com/full/3009250.jpg");
  background-position: left;
}

.nav-btn {
  background-color: black;
  font-family: 'Julius Sans One', sans-serif;
  /* text-shadow: -1px 0 black, 0 1px #b9a495, 1px 0 #b9a495, 0 -1px black; */
  color:#dfbb93;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-btn:hover{
  color: #909194


}

::marker {
  text-decoration: none;
}
/*days of the week Title*/

.spanday{
  color: #b9a495;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 22px;
  font-size: 39.2px;
  
}

.deletebtn{
  color:#b9a495 !important;
  font-family: 'Julius Sans One', sans-serif;
  padding: 6px;
  background: #4d7599;
  height: 27px;
  width: 27px;
  font-size: small;
  display: flex;
 }
